### EDA

In [2]:
import pandas as pd
import geopandas as gpd
import ast,os,random
pd.set_option('display.float_format','{:.1f}'.format)
import warnings
warnings.filterwarnings('ignore')
import cudf, cupy as cp
import numpy as np
import time
import math
import pickle
import pyarrow.parquet as pq

table = pq.read_table('../input/185/total_population_dataset.parquet')
cudf = cudf.DataFrame.from_arrow(table)

### データフレームの概要
2020年の総人口と，2010年からの移住に関する情報が記されたデータ

Net
- 1: Inward Migration（内部移住）
- 0: Stationary（定住）
- -1: Outward Migration（外部移住）

Race
- 0: All
- 1: White
- 2: African American
- 3: American Indian
- 4: Asian alone
- 5: Native Hawaiian
- 6: Other Race alone
- 7: Two or More


`0: all`がわからない
  `6: Other Race alone`や`7: Two or More`でも当てはまっていないということ？

County \
Mappings for counties can be found in id2county.pkl file from root directory. \
 county(群）のID
 
 easting/northing \
 緯度と経度

In [5]:
cudf.head()

     easting  northing  race  net  county
0 -9626792.0 3825189.8     1    0       0
1 -9626832.0 3825073.8     1    0       0
2 -9627101.0 3825153.5     1    0       0
3 -9627149.0 3825322.8     1    0       0
4 -9627159.0 3825334.8     1    0       0